.OrientationContainer{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

.Items{
    background-color: #0652f9;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    text-align: center;
    color: white;
}