.OrientationContainer{
    display: flex;
    justify-content: space-evenly;
    /* width: 500px; */
}

.Items{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 88px;
    height: 36px;
    border-radius: 8px;
    border: solid 2px #0752f9;
    margin: 0 15px;

    text-align: center;
    font-family: ModernEra;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0752f9;
}

.Active{
    background-color: #0752f9;
    color: #ffffff;
}