.OrientationContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9%;
    /* width: 500px; */
}

.Items{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 27%;
    height: 36px;
    border-radius: 8px;
    border: solid 2px #0752f9;

    text-align: center;
    font-family: ModernEra;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0752f9;
}

.Active{
    background-color: #0752f9;
    color: #ffffff;
}

@media (min-width: 700px) {
    .OrientationContainer {
         width: 400px; 
    }
 }