.PlayerContainer {
    display: flex;
    line-height: 36px;
}

.Butons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Play, .Next, .Prev {
    display: flex;
    justify-content: center;
}

.Play > img, .Prev > img, .Next > img, .Stop > img{
    width: 13px;
    height: 12px;
}

.Stop, .Play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 31px;
    border-radius: 7px;
    background-color: #0752f9;
}

.Hidden {
    display: none;
}