.Viewer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ViewerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    margin: 20px;
}

.Controllers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Active {
    background-color: #0752f9;
    font-size: 100px;
}

.Active > span {
    text-shadow: -0.2px -0.2px 0 #09090a, 0.2px -0.2px 0 #09090a, -0.2px 0.2px 0 #09090a, 0.2px 0.2px 0 #09090a;
}

.NoActive {
    background-color: #99bffc;
    font-size: 88px;
}

.TitleViewer{
    font-family: CooperBT;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
    padding: 0 30px;
}