.TimeLineContainer{
    display: flex;
}

.StepsText {
    display: flex;
    width: 60px;
    display: flex;
    flex-direction: row;
    line-height: 36px;
    color: #0652f9;
    cursor: default;
    font-size: 45px;
    transition: color 400ms;
}

.StepsInline {
    display: flex;
    letter-spacing: 0;
    color: #779cec;
    font-size: 30px;  
    line-height: 44px;  
}

.ContainerStepsInline{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70px;
}