.TimeLineContainer{
    display: flex;
}

.StepsText {
    display: flex;
    flex-direction: row;
    cursor: default;
    font-size: 45px;
    transition: color 400ms;
}

.StepsInline {
    display: flex;
    letter-spacing: 0;
    color: #779cec;
    opacity: 0.5;
    font-size: 30px;  
    line-height: 50px;  
}

.ContainerStepsInline{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70px;
}